# Data science tools and ecosystems

#### In this notebook Data Science Tools and Ecosystems are summarized

##### Objectives:
- List popular Data Science Languages
- List commonly used Libraries
- Evaluating arithmetic expressions
- Converting hours to minutes

Some of the most Popular Data science Languages are:
1) Python
2) R
3) julia
4) SQL

Some of the most commonly used libraries are:
1) Numpy
2) Pandas
3) Matplotlib
4) Seaborn

| Data Science Tools | 
|---|
| Jupyter notebooks | 
| Pytorch | 
| Rstudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
# This a simple arithmetic expression to mutiply then add integers
a = (3*4)+5
print(a)

17

In [10]:
# This will convert 200 minutes to hours by diving by 60
minutes= 200
minutes_to_hours= minutes//60
print(minutes_to_hours)

3

## Author
Dhanush